<h1>Search result</h1>

<table class="table">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.from_airport %></td>
        <td><%= flight.to_airport %></td>
        <td><%= flight.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%=link_to "Another search", new_search_path%>